<div class="box">
<div class="container">
<div class="row">
  <div class= "col-xs-3">
    <%=  notice %>
    <h2>User info</h2>
      <%= render 'users/info', user: @user %>
    <div class="new book">
      <h2>New book</h2>
      <%= render 'new_form', book: @book %>
    </div>
  </div>

    <div class="col-xs-9">
      <h1>Books</h1>
        <%= render 'books', books: @books %>
    </div>
</div>
</div>
</div>

